.c-burger--float {
  position: fixed;
  right: 2.1em;
  bottom: 3.55rem;
  width: 3.631em;
  height: 3.631em;
  z-index: 1500;
  opacity: .9;
  transition: right .5s cubic-bezier(.785, .135, .15, .86);
  transition-delay: .5s;
  padding: 0;
  margin: 0;
  outline: none !important;
}

.locked .c-burger--float, t-body_scroll-locked .c-burger--float{
    opacity: 0;
    display: none;
}

.c-burger--float .c-burger__content {
  width: 3.631em;
  height: 3.631em;
  background-color: #7f0012;
  color: #fff;
  border-radius: 50%;
}

.c-burger--float .c-burger__content:before {
  content: "";
  display: block;
  position: absolute;
  background-color: #7f0012;
  border-radius: 100%;
  opacity: .5;
  -webkit-transform: scale(0);
  transform: scale(0);
  pointer-events: none;
  width: 3.4375rem;
  height: 3.4375rem;
  left: calc(50% - 1.71875rem);
  top: calc(50% - 1.71875rem);
}

.c-burger--float .c-burger__line {
  display: block;
  height: .1875rem;
  position: absolute;
  left: calc(50% - 0.8em);
  transition: .5s cubic-bezier(.785, .135, .15, .86)
}

.c-burger--float .c-burger__line .c-burger__line-inner {
  width: 100%;
  height: 100%;
  background-color: currentColor;
  transition: .5s cubic-bezier(.785, .135, .15, .86);
  transition-property: width, opacity
}

.c-burger--float .c-burger__line:nth-child(2) {
  width: 1.6em;
  top: 1.75em;
  -webkit-transform-origin: left;
  transform-origin: left
}

.c-burger--float .c-burger__line:nth-child(2) .c-burger__line-inner {
  width: calc(100% - 7px)
}

.c-burger--float .c-burger__line:first-child {
  width: 1.6em;
  top: 1.15em
}

.c-burger--float .c-burger__line:last-child {
  width: 1.6em;
  top: 2.3em;
}

.c-burger--float .c-burger__line:last-child .c-burger__line-inner {
  width: calc(100% - 2px)
}

.c-burger--float.is-pressed {
  right: calc(100% - 3.40625rem);
  transition-delay: 0s;
}

.c-burger--float.is-pressed .c-burger__content:before {
  -webkit-animation-name: ripple;
  animation-name: ripple;
  -webkit-animation-duration: .6s;
  animation-duration: .6s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards
}

.c-burger--float.is-pressed .c-burger__line:first-child,
.c-burger--float.is-pressed .c-burger__line:last-child {
  top: calc(50% - .09375rem)
}

.c-burger--float.is-pressed .c-burger__line:first-child .c-burger__line-inner,
.c-burger--float.is-pressed .c-burger__line:last-child .c-burger__line-inner {
  width: 100%
}

.c-burger--float.is-pressed .c-burger__line:first-child {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}

.c-burger--float.is-pressed .c-burger__line:nth-child(2) {
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg)
}

.c-burger--float.is-pressed .c-burger__line:nth-child(2) .c-burger__line-inner {
  opacity: 0
}

.c-burger--float.is-pressed .c-burger__line:last-child {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg)
}

@-webkit-keyframes ripple {
  to {
    -webkit-transform: scale(4.5);
    transform: scale(4.5);
    opacity: 0;
    -webkit-transform-origin: center;
    transform-origin: center
  }
}

@keyframes ripple {
  to {
    -webkit-transform: scale(4.5);
    transform: scale(4.5);
    opacity: 0;
    -webkit-transform-origin: center;
    transform-origin: center
  }
}