/*outer circle*/
body .DWfFpgsL_0 {
    stroke-dasharray: 587 589;
    stroke-dashoffset: 588;
}

body.loaded .DWfFpgsL_0 {
    animation: DWfFpgsL_draw 800ms linear 0ms forwards;
}

@keyframes DWfFpgsL_draw {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes DWfFpgsL_fade {
    0% {
        stroke-opacity: 1;
    }

    93.54838709677419% {
        stroke-opacity: 1;
    }

    100% {
        stroke-opacity: 0;
    }
}

/* inner circle */
body .yruhWERy_0 {
    stroke-dasharray: 90 92;
    stroke-dashoffset: 91;
}

body.loaded .yruhWERy_0 {
    animation: yruhWERy_draw 400ms linear 800ms forwards;
}

body .yruhWERy_1 {
    stroke-dasharray: 22 24;
    stroke-dashoffset: 0;
    fill: none;
    stroke-width: 0;
}

body.loaded .yruhWERy_1 {
    animation: yruhWERy_draw1 200ms linear 1400ms forwards;
}

@keyframes yruhWERy_draw {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes yruhWERy_draw1 {
    100% {
        stroke-width: 7px;
    }
}

/*line*/
body .bsyupSVU_0 {
    stroke-dasharray: 660 662;
    stroke-dashoffset: 661;
}

body.loaded .bsyupSVU_0 {
    animation: bsyupSVU_draw 1300ms linear 1500ms forwards;
}

@keyframes bsyupSVU_draw {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes bsyupSVU_fade {
    0% {
        stroke-opacity: 1;
    }

    94.44444444444444% {
        stroke-opacity: 1;
    }

    100% {
        stroke-opacity: 0;
    }
}

@keyframes yruhWERy_fade {
    0% {
        stroke-opacity: 1;
    }

    93.54838709677419% {
        stroke-opacity: 1;
    }

    100% {
        stroke-opacity: 0;
    }
}

/*left line*/
body .video .scFwCsjN_0 {
    stroke-dasharray: 322 324;
    stroke-dashoffset: 323;
}

body.loaded .video .scFwCsjN_0 {
    animation: scFwCsjN_draw 900ms linear 1600ms forwards;
}

body .video .scFwCsjN_1 {
    stroke-dasharray: 159 161;
    stroke-dashoffset: 160;
}

body.loaded .video .scFwCsjN_1 {
    animation: scFwCsjN_draw 1200ms linear 2006ms forwards;
}

body .info .scFwCsjN_0 {
    stroke-dasharray: 322 324;
    stroke-dashoffset: 323;
}

body .info.play .scFwCsjN_0 {
    animation: scFwCsjN_draw 900ms linear 300ms forwards;
}

body .info .scFwCsjN_1 {
    stroke-dasharray: 159 161;
    stroke-dashoffset: 160;
}

body .info.play .scFwCsjN_1 {
    animation: scFwCsjN_draw 1200ms linear 600ms forwards;
}

@keyframes scFwCsjN_draw {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scFwCsjN_fade {
    0% {
        stroke-opacity: 1;
    }

    94.44444444444444% {
        stroke-opacity: 1;
    }

    100% {
        stroke-opacity: 0;
    }
}
