.scrollme{
    overflow: hidden;
    position: relative;
    margin-top: 12.1em;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .6);
        z-index: 1;
    }
    .main_parallax{
        position: absolute !important;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../img/back2.jpg);
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
    }
    .parallax-component_image{
        height: 50em;
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
        z-index: 1;
        position: relative;
    }
}

.production{
    display: block;
    margin: 0 auto;
    width: 90.6%;
    padding: 6.55em 0 7.15em;
    position: relative;
    margin-top: 3em;
    .title{
        font-weight: 700;
        font-size: 2.96em;
        letter-spacing: .05em;
        margin-bottom: .3em;
        color: #2b2b2b;
        position: relative;
        z-index: 1;
        text-transform: uppercase;
        display: block;
        text-align: center;
    }
    .descr{
        display: block;
        text-align: center;
        color: #b9b9b9;
        font-size: 1.2em;
        letter-spacing: .03em;
        padding-bottom: 1.6em;
        position: relative;
        margin-bottom: 4em;
        z-index: 3;
    }
    .back{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        font-size: 8.1em;
        color: #f7f7f7;
        font-weight: 700;
        letter-spacing: .2em;
        text-transform: uppercase;
        text-align: center;
        width: 100%;
    }
}